/*
 * Accordion Block
 * Recreate an accordion
 * https://www.hlx.live/developer/block-collection/accordion
 */

.accordion {
  --accordion-divider-color: #fc5400;
  --accordion-summary-bg: #f4f4f4;
  --accordion-summary-hover-bg: #ededed;
  --accordion-summary-open-bg: #e6e6e6;
  --accordion-body-bg: #f0f0f0;
  --accordion-marker-color: #333;
}

.accordion details {
  border-bottom: 2px solid var(--accordion-divider-color);
}

.accordion details p {
  margin: 0;
}

.accordion details summary {
  position: relative;
  padding: 18px 56px 18px 15px;
  background-color: var(--accordion-summary-bg);
  color: var(--text-color);
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xs);
  font-weight: 800;
  line-height: 1.25;
  cursor: pointer;
  list-style: none;
  transition: background-color 0.2s;
}

.accordion details[open] summary {
  background-color: var(--accordion-summary-open-bg);
}

.accordion details summary:focus-visible,
.accordion details summary:hover {
  background-color: var(--accordion-summary-hover-bg);
}

.accordion details[open] summary:hover {
  background-color: var(--accordion-summary-open-bg);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  width: 12px;
  height: 12px;
  border: solid var(--accordion-marker-color);
  border-width: 0 2.5px 2.5px 0;
  transform: translateY(-70%) rotate(45deg);
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  transform: translateY(-30%) rotate(225deg);
}

.accordion details .accordion-item-body {
  padding: 8px 32px 24px;
  background-color: var(--accordion-body-bg);
  font-weight: 500;
}

.accordion details .accordion-item-body a {
  color: var(--link-color);
  font-weight: 700;
}

.accordion details .accordion-item-body a:hover {
  color: var(--link-hover-color);
}
