.library-metadata-container > div:not(.library-metadata-wrapper) {
    /*border: lightgrey 1px solid;*/
}

.library-metadata-container .library-metadata-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.library-metadata-wrapper {
    background-color: lightgrey;
    border: lightgrey 1px solid;
    border-radius: 15px;
}

.library-metadata-wrapper .library-metadata {
    display: flex;
    column-gap: 20px;
}
