.library-metadata-container > div:not(.library-metadata-wrapper) {
    /*border: lightgrey 1px solid;*/
}

.library-metadata-container {
    position: relative;
}

.library-metadata-container .library-metadata-wrapper {
    background-color: lightgrey;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    border-radius: 15px;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 10;
}

.library-metadata-wrapper .library-metadata {
    display: flex;
    column-gap: 20px;
}

.library-metadata-wrapper .library-metadata p {
    margin: 0.8em;
}
